@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(63, 60, 60);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
  align-items: center;
  min-width: 40%;
  font-family: 'Lobster', cursive;
  text-align: center; /* Center text horizontally */
}

.image {
  border-radius: 10px;
  margin: 0px 0px 20px 0px;
}

.ingredientsList {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.ingredientsList li {
  display: inline-block;
  margin: 5px;
}

.instructions {
  margin: 10px 0; /* Add margin for spacing */
  text-align: center; /* Align text to the left */
  line-height: 1.5; /* Set line height for better readability */
}
